pais{
    background-color:gray;
    display: block;
}
departamento{
    color:white;
    size: 2em;
    display: block;
}
cabecera{
    color:black;
    size: 1em;
    font-weight: 100;
    display: block;
    background-color: cadetblue;
}
habitantes{
    color:brown;
    size: 1em;
    margin-left: 2em;
}
altura{
    color:cornsilk;
    size: 1em;
    margin-left: 2em;
}
