pais{
    background-color:gray;
    display: block;
}
departamento{
    color:white;
    size: 2em;
    display: block;
}
cabecera{
    color:teal;
    size: 1em;
}
habitantes{
    color:brown;
    size: 1em;
}
altura{
    color:cornsilk;
    size: 1em;
}